.frame {
  align-content: center;
  background-color: var(--fl-bg-light);
  padding: 0.25rem 0.5rem;
}

.icon {
  height: 24px;
  width: 24px;
}

.green path {
  fill: var(--fl-green);
}

.red path {
  fill: var(--fl-red);
}
