.frame {
  background-color: var(--fl-bg-dark);
  border: none;
  box-shadow: var(--fl-inset-shadow);
}

.appDisplayName {
  margin-bottom: 0.5rem;
  color: var(--fl-text);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  color: var(--fl-text-muted);
}
