[data-bs-theme='dark'] {
  color-scheme: dark;
  --bs-body-bg: #1c1c1c;
  --bs-body-bg-rgb: 28, 28, 28;
  --bs-secondary-bg: #303030;
  --bs-secondary-bg-rgb: 30, 30, 30;
}

body {
  background-color: var(--bs-secondary-bg);
}
